In [60]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [61]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [62]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [63]:
label_gender_regression=LabelEncoder()
data['Gender']=label_gender_regression.fit_transform(data['Gender'])
data.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,44,4,142051.07,2,0,1,74940.50,0
9,684,France,1,27,2,134603.88,1,1,1,71725.73,0

In [64]:
##OneHot encoding for geographic column
from sklearn.preprocessing import OneHotEncoder
One_Hot_encoder_regression=OneHotEncoder()
data_transform=One_Hot_encoder_regression.fit_transform(data[['Geography']])
df1=pd.DataFrame(data_transform.toarray(),columns=One_Hot_encoder_regression.get_feature_names_out(['Geography']))
df1.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [65]:
data=pd.concat([data.drop('Geography',axis=1),df1],axis=1)

In [66]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [67]:
with open('label_gender_regression.pkl','wb') as file:
    pickle.dump(label_gender_regression,file)
with open('One_Hot_encoder_regression.pkl','wb') as file:
    pickle.dump(One_Hot_encoder_regression,file)

In [68]:
###Dividing the data into features
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

##Split data in train and test
X_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

print(X_train.shape)
print(x_test.shape)

#Scaling the data
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
x_test=scaler.transform(x_test)

(8000, 12)
(2000, 12)

In [69]:
with open('scaler_regression.pkl','wb') as file:
    pickle.dump(scaler,file)

In [70]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [71]:
X_train.shape

(8000, 12)

In [72]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)) ,   #Hidden Layer(HL)1 connected to input
    Dense(32,activation='relu'), #HL 2
    Dense(1), #HL 3 Output layer

])
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

c:\Users\nakul\BankChurn\bankenv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [73]:
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [74]:
early_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)
log_dir="regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensor_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [75]:
hisotry=model.fit(
    X_train,y_train,validation_data=(x_test,y_test),epochs=100,
    callbacks=[tensor_callback,early_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 100396.4766 - mae: 100396.4766 - val_loss: 98588.3750 - val_mae: 98588.3750
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 99885.5156 - mae: 99885.5156 - val_loss: 97538.4453 - val_mae: 97538.4453
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 97980.3594 - mae: 97980.3594 - val_loss: 94668.5156 - val_mae: 94668.5156
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 94022.7109 - mae: 94022.7109 - val_loss: 89644.4062 - val_mae: 89644.4062
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 87991.5703 - mae: 87991.5703 - val_loss: 82776.1484 - val_mae: 82776.1484
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 80407.4844 - mae: 80407.4844 - val_loss: 74915.4297 - val_mae: 74915.4297
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 72282.2656 - mae: 72282.2656 - val_loss: 67265.4297 - val_mae: 67265.4297
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 64741.8047 - mae: 64741.8047 - val_loss: 60790.0117 - val_mae: 60790.0117
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 58769.8828 - mae: 58769.8828 - val_loss: 56189.4805 - val_mae: 56189.4805
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 54824.2578 - mae: 54824.2578 - val_loss: 53279.1914 - val_mae: 53279.1914
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52480.8320 - mae: 52480.8320 - val_loss: 51891.1367 - val_mae: 51891.1367
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51322.8672 - mae: 51322.8672 - val_loss: 51322.0547 - val_mae: 51322.0547
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50829.3164 - mae: 50829.3164 - val_loss: 51094.1523 - val_mae: 51094.1523
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50603.1523 - mae: 50603.1523 - val_loss: 50984.3281 - val_mae: 50984.3281
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50471.5508 - mae: 50471.5508 - val_loss: 50909.6250 - val_mae: 50909.6250
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50377.9805 - mae: 50377.9805 - val_loss: 50843.5469 - val_mae: 50843.5469
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50304.6445 - mae: 50304.6445 - val_loss: 50793.3242 - val_mae: 50793.3242
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50239.9805 - mae: 50239.9805 - val_loss: 50734.1875 - val_mae: 50734.1875
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50183.3906 - mae: 50183.3906 - val_loss: 50683.0273 - val_mae: 50683.0273
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50131.7227 - mae: 50131.7227 - val_loss: 50640.8047 - val_mae: 50640.8047
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50088.3242 - mae: 50088.3242 - val_loss: 50600.8633 - val_mae: 50600.8633
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50048.1094 - mae: 50048.1094 - val_loss: 50564.5234 - val_mae: 50564.5234
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50008.4609 - mae: 50008.4609 - val_loss: 50538.8672 - val_mae: 50538.8672
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49976.7930 - mae: 49976.7930 - val_loss: 50508.6953 - val_mae: 50508.6953
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49943.9570 - mae: 49943.9570 - val_loss: 50490.1445 - val_mae: 50490.1445
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49915.7773 - mae: 49915.7773 - val_loss: 50464.1602 - val_mae: 50464.1602
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49889.4570 - mae: 49889.4570 - val_loss: 50443.3086 - val_mae: 50443.3086
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49869.1133 - mae: 49869.1133 - val_loss: 50433.3398 - val_mae: 50433.3398
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49843.5664 - mae: 49843.5664 - val_loss: 50410.0352 - val_mae: 50410.0352
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49822.9844 - mae: 49822.9844 - val_loss: 50400.8320 - val_mae: 50400.8320
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49804.3672 - mae: 49804.3672 - val_loss: 50380.1211 - val_mae: 50380.1211
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49785.5391 - mae: 49785.5391 - val_loss: 50370.7969 - val_mae: 50370.7969
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49768.1055 - mae: 49768.1055 - val_loss: 50358.2148 - val_mae: 50358.2148
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49751.6445 - mae: 49751.6445 - val_loss: 50350.7383 - val_mae: 50350.7383
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49732.5781 - mae: 49732.5781 - val_loss: 50344.7656 - val_mae: 50344.7656
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49716.0000 - mae: 49716.0000 - val_loss: 50342.7109 - val_mae: 50342.7109
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49701.4531 - mae: 49701.4531 - val_loss: 50322.4766 - val_mae: 50322.4766
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49687.0625 - mae: 49687.0625 - val_loss: 50326.1484 - val_mae: 50326.1484
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49676.8555 - mae: 49676.8555 - val_loss: 50312.2344 - val_mae: 50312.2344
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49660.8789 - mae: 49660.8789 - val_loss: 50297.2773 - val_mae: 50297.2773
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49652.0547 - mae: 49652.0547 - val_loss: 50292.1445 - val_mae: 50292.1445
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49640.2344 - mae: 49640.2344 - val_loss: 50294.4961 - val_mae: 50294.4961
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49628.7656 - mae: 49628.7656 - val_loss: 50285.4688 - val_mae: 50285.4688
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49618.2305 - mae: 49618.2305 - val_loss: 50284.9141 - val_mae: 50284.9141
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49608.8828 - mae: 49608.8828 - val_loss: 50290.9648 - val_mae: 50290.9648
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49600.0977 - mae: 49600.0977 - val_loss: 50282.3477 - val_mae: 50282.3477
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49589.3672 - mae: 49589.3672 - val_loss: 50270.3477 - val_mae: 50270.3477
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49583.1250 - mae: 49583.1250 - val_loss: 50275.7695 - val_mae: 50275.7695
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49573.2812 - mae: 49573.2812 - val_loss: 50263.3789 - val_mae: 50263.3789
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49568.2617 - mae: 49568.2617 - val_loss: 50263.6680 - val_mae: 50263.6680
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49560.1992 - mae: 49560.1992 - val_loss: 50268.3945 - val_mae: 50268.3945
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49554.8984 - mae: 49554.8984 - val_loss: 50270.8789 - val_mae: 50270.8789
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49546.5273 - mae: 49546.5273 - val_loss: 50265.2539 - val_mae: 50265.2539
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49541.1562 - mae: 49541.1562 - val_loss: 50270.3203 - val_mae: 50270.3203
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49535.2773 - mae: 49535.2773 - val_loss: 50261.7969 - val_mae: 50261.7969
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49529.5859 - mae: 49529.5859 - val_loss: 50260.1484 - val_mae: 50260.1484
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49525.7734 - mae: 49525.7734 - val_loss: 50268.5938 - val_mae: 50268.5938
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49515.6289 - mae: 49515.6289 - val_loss: 50276.0430 - val_mae: 50276.0430
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49510.5430 - mae: 49510.5430 - val_loss: 50276.5625 - val_mae: 50276.5625
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49505.9609 - mae: 49505.9609 - val_loss: 50273.4570 - val_mae: 50273.4570
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49499.8711 - mae: 49499.8711 - val_loss: 50258.9727 - val_mae: 50258.9727
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49496.0117 - mae: 49496.0117 - val_loss: 50276.1094 - val_mae: 50276.1094
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49489.8945 - mae: 49489.8945 - val_loss: 50272.0234 - val_mae: 50272.0234
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49484.2852 - mae: 49484.2852 - val_loss: 50267.8633 - val_mae: 50267.8633
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49479.7969 - mae: 49479.7969 - val_loss: 50265.0977 - val_mae: 50265.0977
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49474.9297 - mae: 49474.9297 - val_loss: 50262.5312 - val_mae: 50262.5312
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49468.4336 - mae: 49468.4336 - val_loss: 50268.8906 - val_mae: 50268.8906
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49464.9414 - mae: 49464.9414 - val_loss: 50275.9922 - val_mae: 50275.9922
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49462.1602 - mae: 49462.1602 - val_loss: 50271.1367 - val_mae: 50271.1367
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49455.6445 - mae: 49455.6445 - val_loss: 50268.2305 - val_mae: 50268.2305
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49449.8828 - mae: 49449.8828 - val_loss: 50271.9414 - val_mae: 50271.9414

In [76]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [77]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6007 (pid 7888), started 0:14:06 ago. (Use '!kill 7888' to kill it.)

In [78]:
test_loss,test_mae=model.evaluate(x_test,y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 50258.9727 - mae: 50258.9727

In [79]:
model.save('regressionmodel.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.